<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymelead.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Medical Log</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">Welcome to Covid-19 Dashboard!</div>
			<div class="fr">
				<div class="login_info fl">
					welcome：<em>Junyan</em>
				</div>
			</div>
		</div>
	</div>

	<div class="search_bar clearfix">
		<div class="sub_page_name fl">Welcome, [[${session.loginUser}]]</div>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;Information Center</div>
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>User Center</h3>
			<ul>
				<li><a th:href="@{/info}">· Information</a></li>
				<li><a class="active">· Medical Log</a></li>
				<li><a th:href="@{/dailyRecords}">· Daily Records</a></li>
				<li><a th:href="@{/likelyhood}">· Likelyhood</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">Medical Log</h3>
				<ul class="order_list_th w978 clearfix">
					<li class="col01">2021-4-13 19:36:24</li>
				</ul>
				<form th:action="@{/medicalReturnLog}">
					<p>In past 14 days, have you got cough? Please Evaluate your cough level.</p>
					<p>
						<input type="radio" value="0" name="cough">None
						<input type="radio" value="10" name="cough">Mild
						<input type="radio" value="20" name="cough">Medium
						<input type="radio" value="30" name="cough">Severe
					</p>
					<p>In past 14 days, have you got fever or chills? Please Evaluate your fever or chills level.</p>
					<p>
						<input type="radio" value="0" name="fever">None
						<input type="radio" value="20" name="fever">Mild
						<input type="radio" value="35" name="fever">Medium
						<input type="radio" value="50" name="fever">Severe
					</p>
					<p>In past 14 days, have you got loss of taste and smell? Please Evaluate your loss of taste and smell level.</p>
					<p>
						<input type="radio" value="0" name="loss">None
						<input type="radio" value="20" name="loss">Mild
						<input type="radio" value="25" name="loss">Medium
						<input type="radio" value="30" name="loss">Severe
					</p>
					<p>In past 14 days, have you got muscle or body ashes? Please Evaluate your muscle or body ashes level.</p>
					<p>
						<input type="radio" value="0" name="ashes">None
						<input type="radio" value="5" name="ashes">Mild
						<input type="radio" value="10" name="ashes">Medium
						<input type="radio" value="15" name="ashes">Severe
					</p>
					<p>In past 14 days, have you got running nose? Please Evaluate your running nose level.</p>
					<p>
						<input type="radio" value="0" name="nose">None
						<input type="radio" value="5" name="nose">Mild
						<input type="radio" value="7" name="nose">Medium
						<input type="radio" value="10" name="nose">Severe
					</p>

					<p>Please write down your Antibiotics drugs. <input type="text"</p>
					<p>Please write down your Nourishment. <input type="text"</p>
					<p>Please write down your Traumatic medicines. <input type="text"</p>
					<p>In past 14 days, have you got doctor visit?</p>
					<p>
						<input type="radio" value="0" name="doctor">No
						<input type="radio" value="100" name="doctor">Yes
					</p>
					<input type="submit" name="" value="submit" class="input_submit" style="width: 100px;left: 1270px;top: 570px">
				</form>
		</div>
	</div>



	
</body>
</html>